

#black-header {
  height: 42px;
  background-color: #231f20;
}

.container {
  padding: 0;
  width: 980px;
}

#send-now input {
  color: white;
  font-weight: bold;
  border: 1px solid #34ab3d;
  border-radius: 8px;
  height: 35px;
  width: 285px;
  font-size: 1.6em;
  background-color: #4fc23f;
  /*background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #31901B), color-stop(1, #59D34B) ); */
  background: url(../images/arrows_07.png) no-repeat right 10px center, -moz-linear-gradient(top, #31901B 0%, #59D34B 100%);
  background: url(../images/arrows_07.png) no-repeat right 10px center, -webkit-linear-gradient(top, #31901B 0%, #59D34B 100%);
  background: url(../images/arrows_07.png) no-repeat right 10px center, -ms-linear-gradient(top, #31901B 0%, #59D34B 100%);
  background: url(../images/arrows_07.png) no-repeat right 10px center, linear-gradient(to top, #31901B 0%, #59D34B 100%);
}

.text-inputs {
  padding: 5px 20px;
  font-size: 1.2em;
  color: #6c6c6d;
  border-radius: 8px;
  border: 1px solid #727070;
  height: 35px;
  width: 285px;
  margin-right: 8px;
  margin-bottom: 12px;
}


::-webkit-input-placeholder {
  color: #6c6c6d;
}
:-moz-placeholder { 
  color: #6c6c6d;color: #6c6c6d;
}
::-moz-placeholder {     
  color: #6c6c6d;
}
:-ms-input-placeholder {     
  color: #6c6c6d;
}

#people {
  background: url(../images/bg.png);
  height: 215px;
  padding-top: 55px;
  position: relative;
  top: -60px;
  z-index: -1;
}

.video iframe {
  width: 642px;
  height: 361px;
}

.video {
  padding: 0;
}

#cuadrado-div {
  border: 1px solid #ececec;
  padding: 8px;
  margin-top: 30px;
  text-align: center;
  width: 658px;
  margin: 30px auto;
  -webkit-box-shadow: 3px 3px 3px 0 #6c6d6c;
  box-shadow: 3px 3px 3px 0 #6c6d6c;
  background-color: white;
}

#cuadrado-div h2 {
  margin-top: 10px;
}

.formulario {
  margin-top: 25px;
  padding-left: 20px;
  padding-right: 10px;
}

#people .col-md-4, #people .col-md-5 {
  padding: 0;
}

#people h3 {
  color: white;
  font-family: "Myriad Pro";
  font-size: 22px;
  margin-top: 35px;
}

#people p {
  color: #58595b;
  font-size: 13px;
}

.formulario img {
  position: absolute;
  margin-left: 220px;
  top: 45px;
}

@media (max-width: 992px) {
  .container {
    width: 100%;

  }

  #cuadrado-div {
    width: 100%;
  }

  #cuadrado-div h2 {
    font-size: 23px;
  }

  .video iframe {
    width: 100%;
    height: 340px;
  }

   .formulario{
    width: 100%
   }

   .formulario img {
    display: none;
   }

   h1 {
    font-size: 25px;
    text-align: center;
   }

   form {
    text-align: center;
   }

   #people{
    top: 0px;
    margin-top: 20px;
    height:100%;
    text-align: center;
   }

   #people h3 {
    margin-top: 5px;
  }

  #people p {
    margin-bottom: 40px;
  }

}


@media (max-width: 768px) {
  .container {
    width: 100%;
    padding: 15px;
  }

  #cuadrado-div {
    width: 100%;
  }

  .video iframe {
    width: 100%;
    height: 200px;
  }

  .formulario{
    width: 100%
  }

  .formulario img {
    display: none;
  }

  h1 {
    font-size: 20px;
    text-align: center;
  }

  form {
    text-align: center;
  }
  
  .text-inputs {
    width: auto;
    margin: 0;
  }
  #send-now input {
    width: 255px;
  }
   
  #people{
    top: 0px;
    margin-top: 20px;
    height:100%;
    text-align: center;
  }

  #people h3 {
    margin-top: 5px;
  }

  #people p {
    margin-bottom: 40px;
  }
}