<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{seo.description}}">
    <meta name="keywords" content="{{seo.keywords}}">
    <title>{{seo.title}}</title>
    <link rel="stylesheet" href="{% stylesheet_url 'bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% stylesheet_url 'style.css' %}"/>
    
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    {{scripts.head_tracking_script}}
    <style>
    {{head_styles}}
    </style>
  </head>
  <body style="{% for style in editable_styles.body.css %}{{style[0]}}:{{style[1]}};{% endfor %}">
   <header>
    <div class="black-header"></div>
    <div class="border-1"></div>
   </header>
   <div id="texts">
     <!--<h3>Nullam a sodales nisl, et vulputate tellus</h3>-->
     <img src="{% image_url 'arrow.png' %}">
     <h1 id="main_text" >{{ editable_elements.main_text.text }}</h1>
     <h4 id="secondary_text" >{{editable_elements.secondary_text.text}}</h4>
     <form method="post">
        <input id="input_name" class="text-inputs" type="text" name="name" placeholder="{{editable_elements.input_name.placeholder}}">
        <input id="input_mail" class="text-inputs" type="text" name="email" placeholder="{{editable_elements.input_mail.placeholder}}">
        <div id="send-now"><input type="submit" value="{{editable_elements.input_send.value}}" id="input_send"></div>
     </form>
   </div>
   <div id="people" style="display:none;">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
           <div class="people-img"><img id="person_1_picture" src="{% if editable_elements.person_1_picture.type == 'default' %}{% image_url 'raulluna.jpg' %}{% else %}{{ editable_elements.person_1_picture.src }}{% endif %}" class="img-circle"></div>
           <div class="people-text">
             <p id="person_1_description" >{{editable_elements.person_1_description.text}}</p>
             <h4 id="person_1_name" >{{editable_elements.person_1_name.text}}</h4>
           </div>
        </div>
        <div class="col-md-4">
           <div class="people-img"><img id="person_2_picture" src="{% if editable_elements.person_2_picture.type == 'default' %}{% image_url 'esther.jpg' %}{% else %}{{ editable_elements.person_2_picture.src }}{% endif %}" class="img-circle"></div>
           <div class="people-text">
             <p id="person_2_description">{{editable_elements.person_2_description.text}}</p>
             <h4 id="person_2_name">{{editable_elements.person_2_name.text}}</h4>
           </div>
        </div>
        <div class="col-md-4">
           <div class="people-img"><img id="person_3_picture" src="{% if editable_elements.person_3_picture.type == 'default' %}{% image_url 'joseardon.jpg' %}{% else %}{{ editable_elements.person_3_picture.src }}{% endif %}" class="img-circle"></div>
           <div class="people-text">
             <p id="person_3_description" >{{editable_elements.person_3_description.text}}</p>
             <h4 id="person_3_name" >{{editable_elements.person_3_name.text}}</h4>
           </div>
        </div>
      </div>
    </div>
   </div>
   <div class="border-2"></div>
   <footer>
    <p id="texto_derechos">{{editable_elements.texto_derechos.text}}</p>
   </footer>
   {{scripts.bottom_tracking_script}}
  </body>
</html>