<!DOCTYPE html>
<!--[if IE 7 ]>    <html lang="cs" class="ie7 no-js"> <![endif]-->
<!--[if IE 8 ]>    <html lang="cs" class="ie8 no-js"> <![endif]-->
<!--[if IE 9 ]>    <html lang="cs" class="ie9 no-js"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="cs" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8" />
  <!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"><![endif]-->
  <meta name="description" content="{{seo.description}}">
  <meta name="keywords" content="{{seo.keywords}}">
  <meta name="viewport" content="width=device-width; initial-scale=1.0; minimum-scale=1.0; maximum-scale=1.0; user-scalable=0;" />
  <title>{{seo.title}}</title>
  <link href='//fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,400italic,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" media="screen, projection" href="{% stylesheet_url 'style.css?v=1' %}"/>
  <link rel="stylesheet" media="print" href="{% stylesheet_url 'print.css?v=1' %}"/>
  <link rel="shortcut icon" href="./favicon.ico" />
  <script>document.documentElement.className = document.documentElement.className.replace('no-js', 'js');</script>
  {{scripts.head_tracking_script}}

  <style>
  {{head_styles}}
  </style>
</head>
<body class="page-subpage" style="{% for style in editable_styles.body.css %}{{style[0]}}:{{style[1]}};{% endfor %}">
  <div id="main">
    <div class="row-main">
      <div class="col col-book">
        <img id="imagen_principal" src="{% if editable_elements.imagen_principal.type == 'default' %}{% image_url 'arrow.png' %}{% else %}{{ editable_elements.imagen_principal.src }}{% endif %}" alt="book" style="{% for style in editable_elements.imagen_principal.css %}{{style[0]}}:{{style[1]}};{% endfor %}" />
      </div>
      <div class="col col-content">
        <div class="in">
          <h2 id="main_text">{{ editable_elements.main_text.text }}</h2>
          <h1 id="secondary_text">{{editable_elements.secondary_text.text}}</h1>
          <hr>
          <h3 id="pregunta_direccion_envio">{{editable_elements.pregunta_direccion_envio.text}}</h3>
          <p id="instruccion_ingreso_correo">{{editable_elements.instruccion_ingreso_correo.text}}</p>
          <form  method="post">
            <div class="row with-info-text">
              <label id="label_primer_nombre" for="name" class="label">{{editable_elements.label_primer_nombre.text}}</label>
              <p class="inp-row">
                <span class="inp-fix"><input type="text" class="inp-text" name="name" id="name" placeholder="{{editable_elements.name.placeholder}}" /></span>
              </p>
            </div>
            <div class="row">
              <label id="label_email" for="mail" class="label">{{editable_elements.mail.text}}</label>
              <p class="inp-row">
                <span class="inp-fix"><input type="text" class="inp-text" name="email" id="mail" placeholder="{{editable_elements.mail.placeholder}}" /></span>
              </p>
            </div>
            <div class="row">
              <p class="buttons">
                <input type="submit" id="texto_boton_enviar" class="btn" value="{{editable_elements.texto_boton_enviar.value}}" />
              </p>
            </div>
          </form>
          <p class="secure">Tu informacón es 100% segura y nunca sera compartida con nadie.</p>
          <p class="legal"><a href="#">Información legal</a></p>
        </div>
      </div>
    </div>
  </div>

  <!--[if lte IE 8 ]>
    <img src="./img/bg.jpg" alt="" class="bg-ie" />
  <![endif]-->

  <script src="{% javascript_url jquery.js?v=1 %}"></script>
  <script src="{% javascript_url app.js?v=1 %}"></script>
  <script>
    App.run({})
  </script>
  {{scripts.bottom_tracking_script}}
</body>
</html>


