<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{seo.description}}">
    <meta name="keywords" content="{{seo.keywords}}">
    <title>{{seo.title}}</title>
    <link rel="stylesheet" href="{% stylesheet_url 'bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% stylesheet_url 'style.css' %}"/>
    
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    {{scripts.head_tracking_script}}
    <style>
    {{head_styles}}
    </style>
  </head>
  <body style="{% for style in editable_styles.body.css %}{{style[0]}}:{{style[1]}};{% endfor %}">
   <header>
    <div class="black-header"></div>
    <div class="border-1"></div>
   </header>
   <div id="texts">
     <img src="{% image_url 'arrow.png' %}">
     <h1 id="texto_principal" >{{editable_elements.texto_principal.text}}</h1>
     <h3 id="texto_secundario" >{{editable_elements.texto_secundario.text}}</h3>
     <h4 id="texto_direccion_envio" >{{editable_elements.texto_direccion_envio.text}}</h4>
     <form method="post">
      <input id="input_name" class="text-inputs" type="text" name="name" placeholder="{{editable_elements.input_name.placeholder}}">
      <input id="input_mail" class="text-inputs" type="text" name="email" placeholder="{{editable_elements.input_mail.placeholder}}">
      <div id="send-now"><input type="submit" value="{{editable_elements.input_send.value}}" id="input_send"></div>
     </form>
   </div>
   <div class="border-2"></div>
   <footer>
    <p id="texto_derechos">{{editable_elements.texto_derechos.text}}</p>
   </footer>
   {{scripts.bottom_tracking_script}}
  </body>
</html>