@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,800,900);

.black-header {
  background-color: black;
  height: 59px;
}

h3 {
  text-align: center;
  color: #b5b4b4;
  font-size: 2.3em;
  font-family: 'Source Sans Pro', sans-serif;
}

h1 {
  text-align: center;
  font-family: 'Source Sans Pro', sans-serif;
  color: black;
  font-weight: bold;
  font-size: 3.6em;
  line-height: 1.4;
  margin-top: 10px;
}

h4 {
  color: #7a7a7c;
  text-align: center;
  font-family: 'Source Sans Pro', sans-serif;
}

#texts {
  margin: 50px auto;
  width: 850px;
}

.border-1 {
  background: url(../images/border-1.png);
  height: 3px;
}

#send-now input {
  color: white;
  font-weight: bold;
  border: 1px solid #34ab3e;
  border-radius: 8px;
  height: 57px;
  width: 215px;
  background-color: #4fc23f;
  background-image: -webkit-gradient(
  linear,
  left bottom,
  left top,
  color-stop(0, #31901B),
  color-stop(1, #59D34B)
);
}

#send-now {
  display: inline;
  font-size: 2.0em;
}

.text-inputs {
  padding: 0 20px;
  font-size: 1.8em;
  color: #afafb2;
  border-radius: 8px;
  box-shadow:inset 0 -2px 15px 3px #b8b8bc;
  border: none;
  height: 60px;
  width: 300px;
  margin-right: 8px;
}

form {
  padding: 30px 0;
}

#people {
  background: url(../images/bg.png);
  padding: 30px 0;
}

.border-2 {
  background: url(../images/border-2.png);
  height: 4px;
}

footer {
  background-color: black;
  height: 183px;
}

footer p {
  color: #6a6a6a;
  font-family: 'Myriad Pro';
  font-size: 16px;
  top: 130px;
  position: relative;
  text-align: center;
}

.container {
  width: 990px;
}

.people-img img {
  width: 300px;
  height: 300px;
  border: 5px solid white;
}

#people p {
  color: white;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  line-height: 1.6;
}

.people-text {
  width: 240px;
  margin: 15px auto;
}

#people h4 {
  text-align: left;
  color: black;
  font-weight: bold;
  font-family: 'Source Sans Pro', sans-serif;
}

#texts img {
  position: absolute;
  margin-top: 80px;
  margin-left: -110px;
}

@media (max-width: 768px) {

  #texts {
    width: 100%
  }

  h3{
    width:100%;
    font-size: 1.4em;
  }

  h1{
    font-size: 2.5em;
  }

 input {
  margin-top: 10px; 
 }

 .text-inputs {
  font-size: 1.5em;
}

 form {
  text-align: center;
 }

 #send-now {
  display: block;
  font-size: 1.8em;
}

.container{
  width: 100%;
  text-align: center;
}

.people-img img {
  
}

.people-text {
  width: 80%;
}

#people h4 {
  text-align: center;
  margin-bottom: 45px;
}
}

@media (max-width: 990px) {

.container{
  width: 100%;
  text-align: center;
}

#people h4 {
  text-align: center;
  margin-bottom: 45px;
}
}