<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="{{seo.description}}">
    <meta name="keywords" content="{{seo.keywords}}">
    <title>{{seo.title}}</title>
    <link rel="stylesheet" href="{% stylesheet_url 'bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% stylesheet_url 'style.css' %}"/>
    {{scripts.head_tracking_script}}
    <style>
    {{head_styles}}
    </style>
  </head>
  <body style="{% for style in editable_styles.body.css %}{{style[0]}}:{{style[1]}};{% endfor %}">
      <header>
        <div class="container">
          <div class="row">
            <div class="col-md-4 header-hr">
             <hr>
            </div>
            <div id="header-title" class="col-md-4">
              <h2 id="titulo_principal" >{{editable_elements.titulo_principal.text}}</h2>
            </div>
            <div class="col-md-4 header-hr">
              <hr>
            </div>
          </div>
        </div>
      </header>
      <div class="container">
        <div id="titles">
         <h1 id="texto_principal_1" >{{editable_elements.texto_principal_1.text}}</h1>
         <h2 id="texto_principal_2">{{editable_elements.texto_principal_2.text}}</h2>
        </div>
        <div class="row raul-row">
          <div id="raul-luna">
            <img id="person_1_picture" src="{% if editable_elements.person_1_picture.type == 'default' %}{% image_url 'raul-luna_03.png' %}{% else %}{{ editable_elements.person_1_picture.src }}{% endif %}" class="img-circle" >
            <h3 id="person_1_name" >{{editable_elements.person_1_name.text}}</h3>
          </div>
          <div id="texts" class="col-md-7">
            <p id="texto_secundario_1" >{{editable_elements.texto_secundario_1.text}}</p><br/>
            <p id="texto_secundario_2" >{{editable_elements.texto_secundario_2.text}}</p><br/>
            <p id="texto_secundario_3" >{{editable_elements.texto_secundario_3.text}}</p>
            <h2 id="texto_secundario_4" >{{editable_elements.texto_secundario_4.text}}</h2>
          </div>
        </div>
      </div>
      <div id="form-bg">
        <div class="container">
          <form method="post">
            <h3 id="texto_direccion_envio" >{{editable_elements.texto_direccion_envio.text}}</h3>
            <input id="input_name" class="text-inputs" type="text" name="name" placeholder="{{editable_elements.input_name.placeholder}}">
            <input id="input_mail" class="text-inputs" type="text" name="email" placeholder="{{editable_elements.input_mail.placeholder}}">
            <div id="send-now"><input type="submit" value="{{editable_elements.input_send.value}}" id="input_send"></div>
         </form>
       </div>
     </div>
     {{scripts.bottom_tracking_script}}
  </body>
</html>